* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background-color: azure;
  padding: 30px 80px;
  width: 100vw;
}

section {
  display: flex;
  flex-wrap: wrap;
}
